@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
html{
    background-color: #8CC461;
    width: 100%;
    box-sizing: border-box;
}

.template{
    width: 800px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 21%;
    padding: 15px;
    overflow: none;
}

.template .score{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.template .score div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 9px;
    width: 100px;
}

.template .score div .score-head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color : #656565;
    padding: 5px;
    letter-spacing: 0.1em;
    padding-bottom: 15px;
}

.template .score div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    color: #252525;
    align-items: center;

}

.template .head p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 28px;
    color: #FFFFFF;
}

.score div p span{
    display: flex;
    justify-content: center;
    align-items: center;
}


.game-section .game{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 30%;
}

.game-section .game div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
    cursor: pointer;
    z-index: 1;
    
}

.game-section .game div:hover{
    transform: scale(1.1);
}

.game-section .game .stone{
    border: 16px solid #0074B6; 
}

.game-section .game .scissor{
    border: 16px solid #BD00FF;
    transform: rotate(5.27deg);
}

.game-section .game .paper{
    border: 16px solid #FFA943;
    margin-top: 20%;
}

.game-section .stone-line{
    width: 200px;
    border: 15px solid rgba(0, 0, 0, 0.64);
    margin-top: -300px;
    margin-left: 580px;
}

.game-section .paper-line{
    width: 200px;
    border: 15px solid rgba(0, 0, 0, 0.64);
    transform: rotate(58deg);
    margin-top: 100px;
    margin-left: 500px;
}

.game-section .scissor-line{
    width: 200px;
    border: 15px solid rgba(0, 0, 0, 0.64);
    transform: rotate(128deg);
    margin-top: -30px;
    margin-left: 670px;
}